[build-system]
requires = ['flit_core >=2,<4']
build-backend = 'flit_core.buildapi'

[tool.flit.metadata]
module = 'scanpydoc'
author = 'Philipp Angerer'
author-email = 'phil.angerer@gmail.com'
home-page = 'https://github.com/theislab/scanpydoc/'
urls = { Documentation = 'https://icb-scanpydoc.readthedocs-hosted.com/' }
description-file = 'README.rst'
classifiers = [
    'Intended Audience :: Developers',
    'License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)',
    'Programming Language :: Python :: 3',
    'Topic :: Documentation :: Sphinx',
    'Topic :: Software Development :: Libraries :: Python Modules',
    'Framework :: Sphinx :: Extension',
]
requires-python = '>=3.8.1'
requires = [
    'sphinx>=3.0',
    'get_version',
]

[tool.flit.metadata.requires-extra]
dev = [
    'pre-commit',
]
test = [
    'pytest',
    'pytest-cov',
]
doc = [
    'scanpydoc[typehints]',
    'sphinx-rtd-theme',
]
typehints = ['sphinx-autodoc-typehints>=1.15.2']
theme = ['sphinx-rtd-theme']

[tool.flit.entrypoints.'sphinx.html_themes']
scanpydoc = 'scanpydoc.theme'

[tool.isort]
profile = 'black'
lines_after_imports = 2
multi_line_output = 3
