[build-system]
requires = ['flit_core >=2,<4']
build-backend = 'flit_core.buildapi'

[tool.flit.metadata]
module = 'scanpydoc'
author = 'Philipp Angerer'
author-email = 'phil.angerer@gmail.com'
home-page = 'https://github.com/theislab/scanpydoc/'
urls = { Documentation = 'https://icb-scanpydoc.readthedocs-hosted.com/' }
description-file = 'README.rst'
classifiers = [
    'Intended Audience :: Developers',
    'License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)',
    'Programming Language :: Python :: 3',
    'Topic :: Documentation :: Sphinx',
    'Topic :: Software Development :: Libraries :: Python Modules',
    'Framework :: Sphinx :: Extension',
]
requires-python = '>=3.7'
requires = [
    'sphinx>=3.0',
    'get_version',
]

[tool.flit.metadata.requires-extra]
dev = [
    'pre-commit',
]
test = [
    'pytest',
    'pytest-cov',
    'typing_extensions>=3.10; python_version<"3.8"',
]
doc = [
    'scanpydoc[typehints]',
    'sphinx-rtd-theme',
]
typehints = ['sphinx-autodoc-typehints>=1.14']
theme = ['sphinx-rtd-theme']

[tool.flit.entrypoints.'sphinx.html_themes']
scanpydoc = 'scanpydoc.theme'

[tool.black]
target-version = ['py37']

[tool.isort]
profile = 'black'
lines_after_imports = 2
multi_line_output = 3

[tool.tox]
legacy_tox_ini = """
[tox]
envlist = py37,py38,py39
skipsdist = True

[testenv]
deps =
    flit
commands =
    flit install
    pytest
"""
