# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python tests

on:
  push:
    branches: [main]
  pull_request:
    branches: ["*"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PIP_ROOT_USER_ACTION: ignore
  COLUMNS: "200"
  FORCE_COLOR: "1"

jobs:
  get-environments:
    runs-on: ubuntu-latest
    outputs:
      envs: ${{ steps.get-envs.outputs.envs }}
    steps:
      - uses: actions/checkout@v5
        with: { filter: "blob:none", fetch-depth: 0 }
      - uses: astral-sh/setup-uv@v7
        with: { enable-cache: false }
      - id: get-envs
        run: |
          ENVS_JSON=$(NO_COLOR=1 uvx hatch env show --json | jq -c 'to_entries
            | map(
              select(.key | startswith("hatch-test"))
              | { name: .key, python: .value.python }
            )')
          echo "envs=${ENVS_JSON}" | tee $GITHUB_OUTPUT

  test:
    needs: get-environments
    runs-on: ubuntu-latest
    strategy:
      matrix:
        env: ${{ fromJSON(needs.get-environments.outputs.envs) }}
    steps:
      - uses: actions/checkout@v5
        with: { fetch-depth: 0, filter: "blob:none" }
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.env.python-version }}
      - uses: astral-sh/setup-uv@v7
      - name: dependencies
        # TODO: remove typer constraint after fixing https://github.com/WaylonWalker/coverage-rich/issues/4
        run: uv pip install --system .[test,typehints,myst] coverage-rich 'typer <0.14' 'anyconfig[toml] >=0.14'
      - name: tests
        run: coverage run -m pytest --verbose --color=yes
      - name: show coverage
        run: coverage-rich report
      - name: upload coverage
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: c66a2830-d3c7-4ae7-a230-21aef89dcf65

  check:
    if: always()
    needs:
      - get-environments
      - test
    runs-on: ubuntu-latest
    steps:
      - uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
